<ul>
  <% @bookmarks.each do |bookmark| %>
    <a href="<%= bookmark.url %>">
      <%= bookmark.title %>
    </a>
  <% end %>
</ul>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add New Bookmark">
</form>
